*{
    margin: 0;
    padding: 0;
    font-family: cursive;

    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px; 
}
.main_box{
    background-image: url(image.png);
    width: 100vw; 
    height: 100vh;
    background-size:cover;
     background-position: center;
}
.btn_one {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    position: fixed;    
    left:-500px;
    height: 100vh;
    width: 300px;
    /* background-color: rgba(0,0,0,0.2) ; */
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(3px);
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 7px white;  
    transition: all 700ms ease-in-out; 
}
.sidebar_menu .btn_two {
    color: gray;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 260px;
    line-height: 60px;
}
.sidebar_menu .logo{
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 4px white; 
    height: 60px;
    

}

.sidebar_menu .logo a {
    position: absolute;
    /* left:30p */
    font-size: 25px;
    /* text-align: center; */
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    
    top: 80px;

}
.sidebar_menu .menu li{
    padding: 14px 20px;
    
    
    margin-top: 6px ;
    /* width: 100%; */
}
.sidebar_menu .menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    line-height: 30px;
}
.sidebar_menu .menu i,li{
    padding-right: 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 30%;
    bottom: 3%;
}
.sidebar_menu .social_media i{
    text-shadow: 4px 4px 4px black;
    color: white;
    opacity: 0.5;
    padding: 0 7px 0 0;
}
#check{
    display: none;
}
.sidebar_menu .menu i{
    color: white;
    text-shadow: 3px 3px 2px rgb(255, 0, 119);
}
.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 4px white;
    
    
    /* font-size: 20px; */
    
}
.sidebar_menu .menu li a:hover{
    font-size: 18px;
}

.btn_one:hover{
    font-size: 30px;
    transition: all 200ms ease-in-out;
}
.btn_two:hover{
    font-size: 30px;
    transition: all 200ms ease-in-out;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.3 );
    transition: all 100ms ease-in-out;
}
#check:checked ~ .sidebar_menu{
    transition-delay: 0;
    left: 0;
}
#check:checked~.btn_one{
    opacity: 0;
}